<!doctype html>
<html class="no-js" lang="">
<% include ../includes/mag/head.html.ejs %>
<body>

<div id="page">
	<% include ../includes/mag/skipContent.html.ejs %>

	<% include ../includes/browseHappy.html.ejs %>

	<% include ../includes/mag/header.html.ejs %>

	<!-- Main Content -->
	<main id="global-content">
		<% include ../includes/mag/magMainHeading.html.ejs %>

		<div tabindex="-1" id="skip-to-content"></div>

		<div class="container-fluid mag-feat-1 article-feat-1">
			<div class="row">
				<div class="col-xs-12 col-md-6 img-block">
					<img src="http://fpoimg.com/480x320?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
				</div>
				<div class="col-xs-12 col-md-6 txt-block">
					<div class="txt-block-inner">
						<header>
							<h1 class="title">Iowa Girl Eats</h1>
						</header>
						<p>Food blogger (and true food lover) goes gluten free</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mag-content article-content">
			<div class="cnd-row">
				<div class="social-links">
					<a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwellmark-blue-ui.herokuapp.com%2Fblue%2Farticle" target="_blank"><span class="sr-only">Facebook share</span><span class="icon-facebook2"></span></a>
					<a href="https://twitter.com/intent/tweet/?text=The%20Title%20of%20the%20Article.&amp;url=http%3A%2F%2Fwellmark-blue-ui.herokuapp.com%2Fblue%2Farticle" target="_blank"><span class="sr-only">Twitter share</span><span class="icon-twitter"></span></a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//wellmark-blue-ui.herokuapp.com/blue/article&title=The%20Title%20of%20the%20Article" target="_blank"><span class="sr-only">LinkedIn share</span><span class="icon-linkedin"></span></a>
					<a href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwellmark-blue-ui.herokuapp.com%2Fblue%2Farticle&media=https%3A%2F%2Fwww.wellmark.com%2F-%2Fmedia%2Fsites%2Fpublic%2Fimages%2Fglobal%2Flogo-realestate.png&description=The%20Title%20of%20the%20article" target="_blank"><span class="sr-only">Pinterest share</span><span class="icon-pinterest"></span></a>
					<a href="https://plus.google.com/share?url=http%3A%2F%2Fwellmark-blue-ui.herokuapp.com%2Fblue%2Farticle" target="_blank"><span class="sr-only">Google Plus share</span><span class="icon-google-plus"></span></a>
					<a href="mailto:?subject=The%20Title%20of%20the%20Article"><span class="sr-only">Email</span><span class="icon-mail"></span></a>
					<a href="#" class="print-page"><span class="sr-only">Print</span><span class="icon-print"></span></a>
				</div>
				<div class="tags">
					<a href="#" class="btn btn-tag">celiac</a>
					<a href="#" class="btn btn-tag">gluten</a>
					<a href="#" class="btn btn-tag">lifestyle</a>
					<a href="#" class="btn btn-tag">organic</a>
					<a href="#" class="btn btn-tag">special</a>
					<a href="#" class="btn btn-tag">outstanding</a>
				</div>
			</div>

			<div class="cnd-row">
				<div class="content-block">
					<p><strong>If you follow her blog, you know that Kristin Porter, creator of Iowa Girl Eats, loves to cook, run, stay fit, and travel. Having lived in the Midwest and Iowa most of her life, Porter believes it is a wonderful place to live and raise a family.</strong></p>

					<p>She sums it up simply, Fresh food is abundant here, which helps us to eat well. The cost of living is low, which allows us to travel far.</p>

					<p>While Kristin lives in Iowa, her blog has mass appeal, reaching far beyond the Midwest. Iowa Girl Eats receives more than two million page views per month, primarily because Porter knows what people like.</p>

					<p>The two C's come to mind: chicken and cheese, she laughs.</p>

					<p>Iowa Girl Eats ventures far beyond the two C's, though, focusing primarily on fresh, seasonal food, complete with step-by-step instructions and stunning photography. Most of her recipes can be made in 30 minutes or less.</p>

					<p>While the food plays a starring role, Porter also highlights her family life, including her sweet husband Ben and bundle of joy Lincoln, who joined the clan in 2013.</p>

					<!--
					Optional classes for images are:

					Alignment:
					f_lt - float left
					f_rt - float right
					ctr - center

					*only one of the above should be used at any time;
					-->
					<div class="f_lt">
						<img src="http://fpoimg.com/360x461?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
					</div>

					<p>Soon after Lincoln's birth, however, Porter's health began to decline. For six months, she dealt with complete exhaustion, sinking weight, stabbing pains in the stomach, splitting headaches, brain fog, and gastrointestinal issues.</p>

					<p>For a while, she chalked up the side effects to being a new mom. Then things became more serious. Visits with doctors, specialists, and several rounds of tests confirmed what Porter had already suspected: She had celiac disease, a condition that affects the digestive system.</p>

					<p>It's estimated that 1 in 133 Americans, or about 1 percent of the population, has celiac disease. There are no treatments or cures. A 100 percent gluten-free diet is the only existing treatment.</p>

					<p>So, it was pretty clear, says Porter, I had to start eating gluten free. The doctor told me so. In fact, that's pretty much all I knew.</p>

					<div class="ctr">
						<img src="http://fpoimg.com/850x400?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
					</div>

					<h2>What is celiac disease?</h2>

					<p>Celiac disease is a serious genetic autoimmune disease that damages the small intestine and interferes with absorption of nutrients from food. The damage is caused by gluten. Gluten is a mixture of two proteins that hold food together or help it maintain a certain shape. It is found primarily in cereal grains, especially wheat, barley, rye and sometimes oats. It can also be found in all kinds of other products.</p>

					<p>According to the Celiac Disease Foundation, the disease can lead to a number of other disorders, including infertility, reduced bone density, neurological disorders, some cancers, and other autoimmune diseases.</p>

					<p>There was no doubt about Porter's test results. Normal levels of gluten antibodies in a person's body should be between 1 and 19. Her results were 174.</p>

					<div class="video-opener">
						<button type="button" class="btn" aria-controls="video-modal" data-toggle="modal" data-target="#video-modal" data-video-url="https://www.youtube.com/embed/p46dusnr7Rw?enablejsapi=1">
							<img src="http://fpoimg.com/850x400?bg_color=000000&amp;text_color=666666" alt="Play Video Mary Jane's Story" class="ctr">
							<span class="video-play-icon" aria-hidden="true">
								<span class="icon-play"></span>
							</span>
						</button>
					</div>

					<h2>Transitioning to G-free living</h2>

					<p>In the beginning, I was totally resistant to the change, says Porter. I cried. I ate goodbye donuts – chocolate munchkins – and a lot of them! I bitterly laughed at the irony of a food blogger, and true food lover, being diagnosed with a disease that would force me to cut out what felt like an entire food group for the rest of my life. So long donuts, deep dish pizza, craft beer, and French toast.</p>

					<!--
					Optional classes for callouts are:

					Alignment:
					f_lt - float left
					f_rt - float right
					ctr - center

					*only one of the above should be used at any time

					Background Color:
					[default] - gray
					bg-ltblue - #d2ebf7
					bg-blue - #0079bc
					bg-dkblue - #036296
					bg-brown - #6d5e47
					bg-turquoise - #0087a6

					*only one of the above should be used at any time
					-->
					<blockquote class="callout f_rt bg-blue">
						<p>"If you have celiac disease or a gluten sensitivity, do not feel silly or embarrassed for needing or wanting to go gluten free. The gluten-free community is the target of a lot of ridicule. I don't take myself too seriously, so yes, I've laughed at the jokes, but doing what's best for YOU should never make you a target."</p>

						<p class="quotee"><strong class="quotee-name">Kristin Porter</strong> <span>of IowaGirlEats.com</span></p>
					</blockquote>

					<p>Porter even considered quitting her blog.</p>

					<p>Then, she moved on. I vowed that I would not feel deprived everyday. I would not quit the food blog I worked so hard on, and I certainly would not go on feeling the way I had for six long months.</p>

					<p>Porter did her best to eat gluten free after the diagnosis, but having to inspect every single element on a can, box or carton of food felt like an impossible feat. She says she was getting glutened all the time, meaning she would accidentally ingest gluten, and felt like with every step forward, she took ten steps back.</p>

					<p>But slowly, things got better. I learned the many names gluten can go by, how to eat at restaurants, which products were safe (and which were not), and how to avoid cross contamination, says Porter. I learned that cooking healthy, gluten-free meals at home is NOT hard, nor does it require trips to specialty grocery stores for weird and expensive ingredients.</p>

					<h2>Two years later</h2>

					<p>It's been two years since Porter's diagnosis and life feels normal again. Normal because, according to Porter, Unless you live in a bubble, accidental ingestion of gluten is bound to happen, plus my diagnosis seems to have come with a side of chronic fatigue. But, I have zero stomach pains, am at a healthy weight again, and most importantly, I am not afraid to eat.</p>

					<p>The blog Iowa Girls Eats has only seen more growth since Porter went gluten free. It's hard to say if it's because of the fact that I only post gluten-free recipes now, or if it's just organic growth, says Porter. I'm still providing recipes long time readers will love and can feel good about creating in the kitchen.</p>

					<p class="last">Today, Porter reminds herself daily that she has a condition that can be managed without drugs, therapy, or hospital stays – just food. I'm so lucky in that my friends and family have bent over backwards to not only learn about celiac disease, but to accommodate my needs. For example, I hate being a burden to friends throwing a dinner party. I always bring something I know I can eat. They aren't hurt if I politely turn down items on the menu. They understand that my health is on the line.</p>

					<div class="ctr">
						<img src="http://fpoimg.com/850x253?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
					</div>

					<h2>
						Basic Plank
						<span class="tagline">Perform with perfect form.</span>
					</h2>

					<p>Hold this pose for 20&ndash;30 seconds (or one set), and work your way up to a minute or more.</p>

					<ul>
						<li>Start your plank from your elbows or on your hands (as pictured).</li>
						<li>Holding your elbows (or hands) directly under your shoulders, hold your body in a straight line from your heels to the back of your head.</li>
						<li>Avoid dropping or raising your hips, head or shoulders.</li>
						<li>Engage your core by sucking your belly button into your spine.</li>
						<li>Hold this pose (pictured) for 20&ndash;30 seconds (or one set), and work your way up to a minute or more.</li>
						<li>Remember to breathe through your plank.</li>
						<li>If you're just starting out, hold the plank position for just a few seconds at a time. It is better to hold proper form for a short period of time than to hold improper form for longer.</li>
					</ul>

					<div class="ctr">
						<img src="http://fpoimg.com/850x253?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
					</div>

					<h2>Do you have prediabetes?
						<span class="tagline">Take the test.</span>
					</h2>
					<p><strong>Nearly 90 percent of adults with prediabetes don't know they have it.</strong></p>
					<p>For each "yes" answer, add the number of points listed. All "no" answers are zero points.</p>
					<ol>
						<li class="question">
							Are you a woman who had a baby weighing more than nine pounds at birth?
							<ul class="answers">
								<li><strong>Yes</strong> (1 point)</li>
								<li><strong>No</strong> (0 points)</li>
							</ul>
						</li>
						<li class="question">
							Do you have a sister or brother with diabetes?
							<ul class="answers">
								<li><strong>Yes</strong> (1 point)</li>
								<li><strong>No</strong> (0 points)</li>
							</ul>
						</li>
						<li class="question">
							Do you have a parent with diabetes?
							<ul class="answers">
								<li><strong>Yes</strong> (1 point)</li>
								<li><strong>No</strong> (0 points)</li>
							</ul>
						</li>
						<li class="question">
							Find your height in the chart below. Do you weigh as much as or more than the weight listed for your height?
							<ul class="answers">
								<li><strong>Yes</strong> (5 points)</li>
								<li><strong>No</strong> (0 points)</li>
							</ul>
							<div class="table-container">
								<div class="table-responsive f3tables">
									<div class="tables-label" aria-hidden="true">At-Risk Weight Chart</div>
									<table class="table table-bordered table-striped-column">
										<caption class="sr-only">At-Risk Weight Chart <span>4'10"</span> to <span>5'3"</span></caption>
										<thead>
											<tr>
												<th scope="col"><div><strong>Height</strong> (feet)</div></th>
												<th scope="col"><div><strong>Weight</strong> (pounds)</div></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><div>4'10"</div></td>
												<td><div>129</div></td>
											</tr>
											<tr>
												<td><div>4'11"</div></td>
												<td><div>133</div></td>
											</tr>
											<tr>
												<td><div>5'0"</div></td>
												<td><div>138</div></td>
											</tr>
											<tr>
												<td><div>5'1"</div></td>
												<td><div>143</div></td>
											</tr>
											<tr>
												<td><div>5'2"</div></td>
												<td><div>147</div></td>
											</tr>
											<tr>
												<td><div>5'3"</div></td>
												<td><div>152</div></td>
											</tr>
										</tbody>
									</table>
									<table class="table table-bordered table-striped-column">
										<caption class="sr-only">At-Risk Weight Chart <span>5'4"</span> to <span>5'9"</span></caption>
										<thead>
											<tr>
												<th scope="col"><div><strong>Height</strong> (feet)</div></th>
												<th scope="col"><div><strong>Weight</strong> (pounds)</div></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><div>5'4"</div></td>
												<td><div>157</div></td>
											</tr>
											<tr>
												<td><div>5'5"</div></td>
												<td><div>162</div></td>
											</tr>
											<tr>
												<td><div>5'6"</div></td>
												<td><div>167</div></td>
											</tr>
											<tr>
												<td><div>5'7"</div></td>
												<td><div>172</div></td>
											</tr>
											<tr>
												<td><div>5'8"</div></td>
												<td><div>177</div></td>
											</tr>
											<tr>
												<td><div>5'9"</div></td>
												<td><div>182</div></td>
											</tr>
										</tbody>
									</table>
									<table class="table table-bordered table-striped-column">
										<caption class="sr-only">At-Risk Weight Chart <span>5'10"</span> to <span>6'3"</span></caption>
										<thead>
											<tr>
												<th scope="col"><div><strong>Height</strong> (feet)</div></th>
												<th scope="col"><div><strong>Weight</strong> (pounds)</div></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><div>5'10"</div></td>
												<td><div>188</div></td>
											</tr>
											<tr>
												<td><div>5'11"</div></td>
												<td><div>193</div></td>
											</tr>
											<tr>
												<td><div>6'0"</div></td>
												<td><div>199</div></td>
											</tr>
											<tr>
												<td><div>6'1"</div></td>
												<td><div>204</div></td>
											</tr>
											<tr>
												<td><div>6'2"</div></td>
												<td><div>210</div></td>
											</tr>
											<tr>
												<td><div>6'3"</div></td>
												<td><div>216</div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</li>
						<li class="question">
							Are you younger than 65 years of age and get little or no exercise in a typical day?
							<ul class="answers">
								<li><strong>Yes</strong> (5 points)</li>
								<li><strong>No</strong> (0 points)</li>
							</ul>
						</li>
						<li class="question">
							Are you between 45 and 64 years of age?
							<ul class="answers">
								<li><strong>Yes</strong> (5 points)</li>
								<li><strong>No</strong> (0 points)</li>
							</ul>
						</li>
						<li class="question">
							Are you 65 years of age or older?
							<ul class="answers">
								<li><strong>Yes</strong> (9 points)</li>
								<li><strong>No</strong> (0 points)</li>
							</ul>
						</li>
					</ol>

					<div class="infographic">
						<picture>
							<source media="(max-width: 767px)" srcset="<%= config.assetPath %>img/infographic-mobile.jpg">
							<source media="(min-width: 768px)" srcset="<%= config.assetPath %>img/infographic.jpg">
							<img src="<%= config.assetPath %>img/infographic.jpg" alt="See image description" />
						</picture>
						<button type="button" class="btn btn-link collapsed" id="aria-id-1" aria-expanded="false" aria-controls="aria-id-2" data-toggle="collapse" data-target="#aria-id-2">
								Image Description
								<span class="sr-only">for Diabetes Prevention</span>
						</button>
						<div id="aria-id-2" aria-labelledby="aria-id-1" class="infographic-description collapse" role="region" aria-expanded="false">
							<p>A generic description or statement about the infographic.</p>
							<p>Keep normal weight</p>
							<p>Eat healthy foods</p>
							<p>Eat appropriate portion sizes</p>
							<p>Add regular activity everyday</p>
							<p>Get regular, preventive care</p>
							<p>Don't smoke</p>
						</div>
					</div>

					<div class="quick-tips-content">

							<div class="quick-tips-item row">
								<div class="col-md-4">
									<img src="http://fpoimg.com/200x150?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
								</div>
								<div class="col-md-8">
									<h2>Keep this number (844-84-239355) handy during cold and flu season.</h2>
									<p>BeWell 24/7<sup>SM</sup> will provide you with around-the-clock answers to your health-related concerns.</p>
									<p><strong>Real People. Real Help.</strong></p>
								</div>
							</div>

							<hr />

							<div class="quick-tips-item row">
								<div class="col-md-4">
									<img src="http://fpoimg.com/150x200?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
								</div>
								<div class="col-md-8">
									<h2>This many internet users have checked online reviews and rankings of health care services.</h2>
									<p>Post your own ratings and reviews based on your experiences in Wellmark's Find a Doctor or Hospital tool. Just log into myWellmark at <a href="#">Wellmark.com</a></p>
									<p class="source">Pewinternet.org</p>
								</div>
							</div>

							<hr />

							<div class="quick-tips-item row">
								<div class="col-md-4">
									<img src="http://fpoimg.com/300x75?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
								</div>
								<div class="col-md-8">
									<h2>The number of antibiotic-resistant invections that occur each year.</h2>
									<p>In outpatient settings, 1 in 3 prescribed antibiotics is unnecessary. Most misused antibiotics are prescribed for viral respiratory conditions such as bronchitis, sinus infections and ear infections, as well as the common cold.</p>
									<p class="source">Source: The Journal of the American Medical Association, May 2016</p>
								</div>
							</div>

							<hr />

							<div class="quick-tips-item row">
								<div class="col-md-4">
									<img src="http://fpoimg.com/235x190?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
								</div>
								<div class="col-md-8">
									<h2>This percentage of hospitals and 93 percent of physicians throughout the U.S. contract with a Blue Cross and/or Blue Shield plan.</h2>
									<p>With the BlueCard&reg; Program you can rest easy when traveling. Always carry your current Wellmark ID card and check your out-of-area benefits before you travel. Your health plan may have limitations outside of the network. Remember, if you are on the move, you can access you Wellmark ID card on you smartphone. Download the free app today at <a href="#">Wellmark.com/GoMobile</a></p>
								</div>
							</div>

							<hr />

							<div class="quick-tips-item row">
								<div class="col-md-4">
									<img src="http://fpoimg.com/375x380?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
								</div>
								<div class="col-md-8">
									<h2>The percentage of children who say the biggest barrier to physical activity is self-consciousness.</h2>
									<p>Kids that exercise with a friend, however, rate this issue as less important and tend to move the most. This summer, invite your child's friends on a bike ride, trip to the park, or on a hike.</p>
									<p class="source">Cincinnati Children's Hospital Medical Center</p>
								</div>
							</div>

							<hr />

							<div class="quick-tips-item row">
								<div class="col-md-4">
									<img src="http://fpoimg.com/400x460?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
								</div>
								<div class="col-md-8">
									<h2>Snore this much less by doing mouth and tongue exercises for three months, according to a recent study.</h2>
									<p>The exercises also cut the intensity of snoring by 59 percent, compared to a control group. Click here for links to effective mouth and tongue exercises.</p>
									<p class="source">Chest, May 2015</p>
								</div>
							</div>

					</div>

				</div>
			</div>

			<div class="cnd-row">
				<div class="tags">
					<a href="#" class="btn btn-tag">celiac</a>
					<a href="#" class="btn btn-tag">gluten</a>
					<a href="#" class="btn btn-tag">lifestyle</a>
					<a href="#" class="btn btn-tag">organic</a>
					<a href="#" class="btn btn-tag">special</a>
					<a href="#" class="btn btn-tag">outstanding</a>
				</div>
				<div class="social-links">
					<a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwellmark-blue-ui.herokuapp.com%2Fblue%2Farticle" target="_blank"><span class="sr-only">Facebook share</span><span class="icon-facebook2"></span></a>
					<a href="https://twitter.com/intent/tweet/?text=The%20Title%20of%20the%20Article.&amp;url=http%3A%2F%2Fwellmark-blue-ui.herokuapp.com%2Fblue%2Farticle" target="_blank"><span class="sr-only">Twitter share</span><span class="icon-twitter"></span></a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//wellmark-blue-ui.herokuapp.com/blue/article&title=The%20Title%20of%20the%20Article" target="_blank"><span class="sr-only">LinkedIn share</span><span class="icon-linkedin"></span></a>
					<a href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwellmark-blue-ui.herokuapp.com%2Fblue%2Farticle&media=https%3A%2F%2Fwww.wellmark.com%2F-%2Fmedia%2Fsites%2Fpublic%2Fimages%2Fglobal%2Flogo-realestate.png&description=The%20Title%20of%20the%20article" target="_blank"><span class="sr-only">Pinterest share</span><span class="icon-pinterest"></span></a>
					<a href="https://plus.google.com/share?url=http%3A%2F%2Fwellmark-blue-ui.herokuapp.com%2Fblue%2Farticle" target="_blank"><span class="sr-only">Google Plus share</span><span class="icon-google-plus"></span></a>
					<a href="mailto:?subject=The%20Title%20of%20the%20Article"><span class="sr-only">Email</span><span class="icon-mail"></span></a>
					<a href="#" class="print-page"><span class="sr-only">Print</span><span class="icon-print"></span></a>
				</div>
				<div class="cat-link">
					<a href="#" class="btn btn-primary btn-lg">All Nutrition Articles</a>
				</div>
			</div>

		</div>

		<div class="container-fluid mag-closing">
			<h2>Related Articles &amp; Recipes</h2>
			<div class="row">
				<% [
						{
							category: "Fitness",
							title: "Make it Stick"
						},
						{
							category: "Recipes",
							title: "Shrimp and Avacado Taco Salad"
						}
					].forEach(function (el) {
				%>
				<div class="col-xs-12 col-sm-4 imgtxt-block">
					<a href="#" tabindex="-1" aria-hidden="true"><img src="http://fpoimg.com/300x200?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" /></a>
					<header>
						<span class="category"><%- el.category %></span>
						<div class="h2 title"><a href="#"><%- el.title %></a></div>
					</header>
				</div>
				<%
				});
				%>
			</div>
		</div>

	</main>
	<% include ../includes/mag/footer.html.ejs %>
</div>

<% include ../includes/mag/foot.html.ejs %>

</body>
</html>
