<!DOCTYPE html>
<html lang="en">
<% include ../includes/head.html.ejs %>
<body>

<div id="page">
	<% include ../includes/skipContent.html.ejs %>

	<% include ../includes/browseHappy.html.ejs %>

	<% include ../includes/header.html.ejs %>

	<!-- Main Content -->
	<main id="global-content" class="has-segment-nav <%= segment %>">

		<%
		var backLinkText = 'Company Information';
		var backLinkUrl = '/about/company-information';
		var pageTitle = 'Directors &amp; Officers';
		%>
		<% include ../includes/segment-nav.html.ejs %>

		<div class="content">
			<div class="container-fluid">

				<% rowType = 'alt'; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<div class="page-header">
							<h1>
								Directors &amp; Officers
								<small>Lorem ipsum dolor sit amet.</small>
							</h1>

							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Nam vitae magna sagittis, pulvinar dui a, convallis dolor.
							</p>
						</div>
					</div>
				</div>

				<% rowType = 'primary'; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<div class="content-tile">
							<h2>
								The Board of Directors
								<small>Wellmark, Inc. Board of Directors<br />Wellmark of South Dakota, Inc. Board of Directors</small>
							</h2>
							<div class="row">
								<%
								[1,2,3,4,5,6,7,8,9,10,11].forEach(function () {
								%>
									<div class="col-xs-12 col-sm-4">
										<div class="bio">
											<img src="http://fpoimg.com/210x210?bg_color=e3d7bf&text_color=4c4f54" alt="FPO" class="img-circle" />
											<div class="name">Person Name</div>
											<a href="/about/company-information/directors-officers/bio" class="btn btn-default btn-lg">Read Bio</a>
										</div>
									</div>
								<%
								});
								%>
							</div>
						</div>
					</div>
				</div>

				<% rowType = 'default'; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<div class="content-tile">
							<h2>
								Our Senior Officers
							</h2>
							<div class="row">
								<%
								[1,2,3,4,5,6].forEach(function () {
								%>
									<div class="col-xs-12 col-sm-4">
										<div class="bio">
											<img src="http://fpoimg.com/210x210?bg_color=4e4e4e&text_color=ffffff" alt="FPO" class="img-circle" />
											<div class="name">Person Name</div>
											<div class="title">Person Title</div>
											<a href="/about/company-information/directors-officers/bio" class="btn btn-primary btn-lg">Read Bio</a>
										</div>
									</div>
								<%
								});
								%>
							</div>
						</div>
					</div>
				</div>

				<% rowType = ''; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<% include ../includes/about-next.html.ejs %>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ../includes/footer.html.ejs %>
</div>

<% include ../includes/foot.html.ejs %>

</body>
</html>
