<!DOCTYPE html>
<html lang="en">
<% include ../includes/head.html.ejs %>
<body>

<div id="page">
	<% include ../includes/skipContent.html.ejs %>

	<% include ../includes/browseHappy.html.ejs %>

	<% include ../includes/header.html.ejs %>

	<!-- Main Content -->
	<main id="global-content" class="has-segment-nav <%= segment %>">

		<%
		var backLinkText = 'About Wellmark';
		var backLinkUrl = '/about';
		var pageTitle = 'Privacy &amp; Legal';
		%>
		<% include ../includes/segment-nav.html.ejs %>

		<div class="content">
			<div class="container-fluid">

				<% rowType = 'alt'; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<div class="page-header">
							<h1>
								<%- pageTitle %>
								<small>Lorem ipsum dolor sit amet.</small>
							</h1>

							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Nam vitae magna sagittis, pulvinar dui a, convallis dolor.
							</p>
						</div>
					</div>
				</div>

				<% rowType = 'primary'; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<div class="content-tile">
							MISSING DESIGN COMP
						</div>
					</div>
				</div>

				<% rowType = ''; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<% include ../includes/about-next.html.ejs %>
					</div>
				</div>

			</div>
		</div>
	</main>

	<% include ../includes/footer.html.ejs %>
</div>

<% include ../includes/foot.html.ejs %>

</body>
</html>
