<head>
	<meta charset="utf-8" />

	<title>RealEstate</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<!-- Descriptive MetaData -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Robots -->
	<meta name="robots" content="index,follow" />

	<!-- Document Base -->
	<base href="<%= path %>" target="_self" />

	<%
	if (dnsPrefetchDomains.length) {
	%>
	<!-- DNS Prefetching -->
	<%
		dnsPrefetchDomains.forEach(function(domain) {
			%>
			<link rel="dns-prefetch" href="<%= domain %>" />
			<%
		});
	}
	%>

	<!-- Favicon -->
	<link type="image/x-icon" rel="icon" href="<%= config.assetPath %>favicon_1.ico" />

	<!-- App Styles -->
	<link type="text/css" rel="stylesheet" href="<%= config.assetPath %>css/app/app.css" />

	<!-- Page Styles -->
	<% if (pageStyleExists) { %>
	<link type="text/css" rel="stylesheet" href="<%= config.assetPath %>css/page/<%= pageId %>.css" />
	<% } %>
	<% 
	if (extraStyles && Array.isArray(extraStyles)) {
		for(var i=0; i<extraStyles.length; i++) {
	%>
	<link type="text/css" rel="stylesheet" href="<%= config.assetPath %>css/extras/<%= extraStyles[i] %>.css" />
	<% 
		} 
	} %>
	<style>
	#browsehappy{font-size:16px;text-align:center;position:fixed;top:0;margin-bottom:60px;margin-top:65px;z-index:5000;width:100%;background-color:#d23432;color:white}
	#browsehappy p{margin-top:10px;margin-bottom:10px}#browsehappy p a{color:white;text-decoration:underline}
	</style>	
</head>
