<div class="segment-menu container-fluid" role="navigation">
	<div class="row">

		<!-- Segment one: First Time Home Buyers -->
		<div class="segment-one col-xs-12 col-md-3">
			<div class="menu-item-container">

				<a id="segment-one-opener" role="button" href="#segment-one" aria-expanded="false" class="collapsed"
					aria-controls="segment-one"
					data-toggle="collapse">
					<h2 style="background-image:url(<%= config.assetPath %>img/re-logo-mark.png)">
						<span><small>First Time</small> Home Buyers</span></h2>

					<span class="icon" aria-hidden="true">
						<span class="icon-reaCaretDown"></span>
					</span>
				</a>

				<button type="button" class="close-button">
					<span class="sr-only">Close</span>
					<span class="icon-wmkCircleClose" aria-hidden="true"></span></button>

				<div class="segment-menu-submenu collapse" role="region" aria-labelledby="segment-one-opener" id="segment-one">
					<ul class="list-unstyled">
						<li class="segment-item">
							<a href="#"><span>Buying Step by Step</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Financial Stuff</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Shopping Smart</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>The Big Decision</span></a>
						</li>
						<li class="action">
							<img src="<%= config.assetPath %>img/re-logo-full.png" alt="" />
							<p>
									Shopping. Buying. Owning for the first time.
							</p>
							<a href="#" class="btn btn-segment-one btn-lg">Register</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!-- Segment Two: Veterans -->
		<div class="segment-two col-xs-12 col-md-3">
			<div class="menu-item-container">

				<a id="segment-two-opener" href="#segment-two" role="button" class="collapsed"
					aria-expanded="false" aria-controls="segment-two"
					data-toggle="collapse" data-href="/employer">
					<h2 style="background-image:url(<%= config.assetPath %>img/re-logo-mark.png)">
						<span><small>Veteran</small> Home Buyers</span></h2>

					<span class="icon" aria-hidden="true">
						<span class="icon-reaCaretDown"></span>
					</span>
				</a>

				<button type="button" class="close-button">
					<span class="sr-only">Close</span>
					<span class="icon-wmkCircleClose" aria-hidden="true"></span></button>

				<div class="segment-menu-submenu collapse" role="region" aria-labelledby="segment-two-opener" id="segment-two">
					<ul class="list-unstyled">
						<li class="segment-item">
							<a href="#"><span>Fixing up a Home or Building New with a VA Loan</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Funding Fee for VA Home Loans</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Perks and Benefits of VA Home Loans</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>More Must-Reads</span></a>
						</li>
						<li class="action">
							<img src="<%= config.assetPath %>img/re-logo-full.png" alt="" />
							<p>
									Helping service members and their families buy homes
							</p>
							<a href="#" class="btn btn-segment-two btn-lg">Register</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!-- Segment Three: RE:Find -->
		<div class="segment-three col-xs-12 col-md-3">
			<div class="menu-item-container">

				<a id="segment-three-opener" href="#segment-three" role="button" aria-expanded="false" class="collapsed"
					aria-controls="segment-three"
					data-toggle="collapse" data-href="/producer">
					<h2 style="background-image:url(<%= config.assetPath %>img/re-logo-mark.png)">
						<span><small>RE:</small> Find</span></h2>

					<span class="icon" aria-hidden="true">
						<span class="icon-reaCaretDown"></span>
					</span>
				</a>

				<button type="button" class="close-button">
					<span class="sr-only">Close</span>
					<span class="icon-wmkCircleClose" aria-hidden="true"></span></button>

				<div class="segment-menu-submenu collapse" role="region" aria-labelledby="segment-three-opener" id="segment-three">
					<ul class="list-unstyled">
						<li class="segment-item">
							<a href="#"><span>The Money Hustle</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>The Credit Come Up</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Finding Your First Home</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Real Estate IRL</span></a>
						</li>
						<li class="action">
							<img src="<%= config.assetPath %>img/re-logo-full.png" alt="" />
							
							<a href="#" class="btn btn-segment-three btn-lg">Register</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!-- Segment Four: Find your first dream home on RealEstate.com -->
		<div class="segment-four col-xs-12 col-md-3">
			<div class="menu-item-container">

				<a id="segment-four-opener" href="#segment-four" role="button" aria-expanded="false" class="collapsed"
					aria-controls="segment-four"
					data-toggle="collapse" data-href="/provider">
					<h2 style="background-image:url(<%= config.assetPath %>img/re-logo-mark.png)">
						<span><small>search</small> Your Dream Home</span></h2>

					<span class="icon" aria-hidden="true">
						<span class="icon-reaCaretDown"></span>
					</span>
				</a>

				<button type="button" class="close-button">
					<span class="sr-only">Close</span>
					<span class="icon-wmkCircleClose" aria-hidden="true"></span></button>

				<div class="segment-menu-submenu collapse" role="region" aria-labelledby="segment-four-opener" id="segment-four">
					<ul class="list-unstyled">
						<li class="segment-item">
							<a href="#"><span>Find By City</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Find By Budget</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Find By Category 1</span></a>
						</li>
						<li class="segment-item">
							<a href="#"><span>Find By Category 2</span></a>
						</li>
						<li class="action">
							<img src="<%= config.assetPath %>img/re-logo-full.png" alt="" />
							<p>
								Find your way home.
							</p>
							<a href="#" class="btn btn-segment-four btn-lg">Register</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

	</div>
</div>
